@import url('https://fonts.googleapis.com/css2?family=Pattaya&display=swap');

$none:none;

$navbar-color: #caa3ff;
$color-link:inherit !important;

.navbar_container {
 background: $navbar-color !important;
}
.navbar_logBtn {
 margin-right: 30px !important;
}
.navbar_link {
 text-decoration: $none;
 color: $color-link;
}
.chat__field {
 width:80%;
 height: 70Vh;
 overflow-y: auto;
 margin-top: 20px;

}

.chat__sendMessage {
  padding: 10px;
 width: 80%;
 border-radius: 4px !important;
 box-shadow: 0 2px 0 0 rgba(50, 50, 50, 0.3) !important;
 margin: 8px;
}

.line {
  display: inline-flex;
}

.chat__personName {
 font-family: 'Pattaya', sans-serif !important;
}

.MuiTypography-body1 {
 margin: 0 !important;
 padding-left: 8px !important;
}
.MuiTypography-root {
 display: flex !important;
 justify-content: flex-end !important;
}
.MuiInputBase-input {
  width: 25vh !important;
}
.text-field {
  display: flex;
}
.MuiGrid-root.MuiGrid-container.MuiGrid-direction-xs-column.MuiGrid-align-items-xs-center {
  width: 100% !important;
}